*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family : Arial, Helvetica, sans-serif ;
  }
  body .header { 
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: aqua;
  }
  body .header .nav { 
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }
  #logo
  {
    margin-top: 20px;
    width : "50%";
    height : "180px";
    margin-left:3rem;
  }
.Searcharea {
margin-top: 10px;
margin-left:11rem;
}
.Searcharea input {
    width:14rem;
    display: inline-block;
    background-color: transparent;
    margin-top: 20px;
    }

    .Searcharea button {
        height: 25px;
        width: 70px;
        border-radius: 5px;
        border: 1px solid #1f1f1f;
        padding: 0 20px;
        margin-left:-6px;
        background-color: transparent;
        }
.menu
{
    margin-top: 20px;
    margin-left:38rem;
    justify-content:space-around;
    align-items: center;
padding: 10px
}
.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    position: relative;
    line-height: 10px;
    
}
.menus{
    margin-top:32px;
   margin-right:101px;
  
}
.menu-line{
    width:20px;
    height:2px;
    background-color: black;
   margin-bottom:2px;
}
@media all and(max-width:480px){
    .menus{
        display: block;
    }

}
.container {
    background-color: red;
    height:50px;
}
    .container a {
        text-decoration: none;
        position: sticky;
        margin-right:4rem;     
    }

.banner .video{
    position: relative;
    background-color: transparent;
    height: auto;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    margin-top: 1rem;
    z-index: 0;
}
.banner #col{
    position: absolute;
    color: white;
    margin-left:22rem;
background:transparent;
bottom: 40%;
}

.inf {
    width:80%;
    padding: 10px;
    margin: 0 auto;
    display:flex;
    
}
.inf .pic{
    width:calc((100% - 25px)/2);
    overflow:hidden;
    border:1px solid black;

    
}
.inf .pic:nth-child(odd){
    margin-right: 25px;
    

}
.inf .pic img{
    width:100%;
}
.footer{
    background-color: bisque;
    flex-direction: row;
}
    .fa {
        padding: 20px;
        text-decoration: none;
        width: 25px;
        color: black;
        display: flex;
    }
    .icons{
        margin-left: 900px;
    }
    .copyright{
        color: black;
        display: flex;
        margin: 0;
        padding:20px;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }