.top {
  /* background: #373A3C; */
  height: 80px;
  width: 100%;
  /* margin-left: -10px;
  margin-top: -10px;
  padding-right: 200px; */
}

/* start */
.reservedlist {
  right: 60px;
  position: absolute;
  top: 30px;
  border-radius: 3px;
  height: 50px;
  cursor: pointer;
  width: 50px;
  background-image: url(http://files.enjin.com/202091/searchicon.png);
  border: none !Important;
}
.menu {
  height: 55px;
  background: #09aeed;
  margin-left: -10px;
  margin-top: -10px;
  width: 100%;
}
.menu .selection {
  list-style: none;
  float: left;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
}
.menu .selectionsearch{
  list-style: none;
  float: left;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.menu .selection:first-child {
  background-color: #373A3C;
  margin-left: -40px;
}
.menu .selection:first-child+li {
  background-color: #2E505E;
}
.menu .selection:first-child+li+li {
  background-color: #256882;
}
.menu .selection:first-child+li+li+li {
  background-color: #1C7EA6;
}
.menu .selection:first-child+li+li+li+li {
  background-color: #09aeed;
}
.menu .selection:first-child+li+li+li+li+li {
  background-color: #77d8ff;
}
.menu .selection:first-child:hover {
  background-color: #ffffff;
  color: #373A3C;
  margin-left: -40px;
}
.menu .selection:first-child+li:hover {
  background-color: #fff;
  color: #2E505E;
}
.menu .selection:first-child+li+li:hover {
  background-color: #ffffff;
  color: #256882;
}
.menu .selection:first-child+li+li+li:hover {
  background-color: #ffffff;
  color: #1C7EA6;
}
.menu .selection:first-child+li+li+li+li:hover {
  background-color: #ffffff;
  color: #09aeed;
}
/* .menu .selection:first-child+li+li+li+li+li:hover {
  background-color: #ffffff;
  background-color: #77d8ff;
} */
.menu .selection {
  height: 35px;
  padding-top: 15px;
  cursor: pointer;
  font-family: raleway;
  font-weight: 400;
  color: #fff;
  font-size: 20px;
}
.menu .selectionsearch{
  height: 35px;
  padding-top: 15px;
  cursor: pointer;
  font-family: raleway;
  font-weight: 400;
}

/* end here */
  .mobile-menu {
    display:block;
    width:100%;
    background: #8aa8bd/*e0b88f/*c99393/*e5d1a4/*dcc591/*EFD3A3*/;
    line-height: 1.6em;
    font-weight: 400;
    width:100%;
    text-align:center;
    position: relative;
    margin:0 auto;
    margin-left: -10px;
    margin-left: auto;
    margin-top: -10px;  
  }
  /*Strip the ul of padding and list styling*/
  .mobile-menu ul {
      list-style-type:none;
    margin: 0 auto;
    padding-left:0;
    text-align:center;
    width:100%;
    position: absolute;
    background: #8aa8bd;
  }
  
  /*Create a horizontal list with spacing*/
  .mobile-menu li {
      display:inline-block;
      /*float: left;
      margin-right: 1px;*/
  }
  
  /*Style for menu links*/
  .mobile-menu li a {
      display:block;
      min-width:140px;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #fff;
    text-transform:uppercase;
      background: #8aa8bd;
      text-decoration: none;
    margin-left:-5px;
    padding: 10px 0;  
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  }
  
  /*Hover state for top level links*/
  .mobile-menu li:hover a {
      color: #4db3ff;
    background-color:#ccddee;
  }
  
  /*Style for dropdown links*/
  .mobile-menu li:hover ul a {
      background: #f3f3f3;
      color: #2f3036;
      height: 40px;
      line-height: 40px;
  }
  
  /*Hover state for dropdown links*/
  .mobile-menu li:hover .mobile-menu ul a:hover {
      color: #4db3ff;
  }
  
  /*Hide dropdown links until they are needed*/
  .mobile-menu li ul {
      display: none;
  }
  
  /*Make dropdown links vertical*/
  .mobile-menu li ul li {
      display: block;
      float: none;
  }
  
  /*Prevent text wrapping*/
  .mobile-menu li ul li a {
      width: auto;
      min-width: 100px;
      padding: 0 20px;
  }
  
  
  /*Style 'show menu' label button and hide it by default*/
  .mobile-menu .show-menu {
      text-decoration: none;
      color: #fff;
      background: #8aa8bd;
      text-align: center;
      padding: 10px 15px;
      display: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .mobile-menu .show-menu span{
     padding-left: 35px;
  }
  
  /*Hide checkbox*/
  .mobile-menu input[type=checkbox]{
      display: none;
  }
  
  /*Show menu when invisible checkbox is checked*/
  .mobile-menu input[type=checkbox]:checked ~ #menu{
      display: block;
  }
  
  /*Responsive Styles*/
  
  @media screen and (max-width : 800px){
    .mobile-menu .lines {
      border-bottom: 15px double #f8f8f8; 
      border-top: 5px solid #f8f8f8; 
      content:"";
      height: 5px; 
      width:20px;
      padding-right:15px;
    float: right;
  }
      /*Make dropdown links appear inline*/
      .mobile-menu ul {
          position: static;
          display: none;
      }
      /*Create vertical spacing*/
      .mobile-menu li {
          margin-bottom: 1px;
      }
      /*Make all menu links full width*/
      .mobile-menu ul li, .mobile-menu li a {
          width: 100%;
      }
      /*Display 'show menu' link*/
      .mobile-menu .show-menu {
          display:block;
      }
  }
  #image img {
    width: 250px;
    position: absolute;
    /* margin-left: 40px;
    margin-top: 30px;
    border-radius: 3px; */
  }
  #enter {
    float: right;
  }
.search {
  top: 30px;
  position: absolute;
  right: 120px;
  /* width: 20px; */
  height: 30px;
  font-size: 20px;
}

.heading{
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}
.imw{
  width: 65%;
  position: relative;
}
.product{
  margin-top: 30px;
  margin-bottom: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 9;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.ccc:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.cc1{
  width: 82%;
  background: #fff;
  color: #000;
  padding: 4px 8px;
  border: 1px solid #000;
  height: 40px;
  border-radius: 7px;
}
/* .col-md-4{
  height: 50px;
} */
@media only screen and (max-width: 553px) {
  .card{
      margin-top: 25px;
  }
}
.card{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}